@tailwind base;
@tailwind components;
@tailwind utilities;

/* Transition when changing the daisyUI theme */
[data-theme] {
  transition: all 1s ease-in-out;
}

/* Custom styles */
h1 {
  font-size: 4rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

ul {
  list-style: none;
}

ul li:nth-child(n + 2) {
  margin-top: 1rem;
}
